*{
  font-family: "Roboto";
}

.mainContainer{
  display: flex;
  height: 100vh;
}

.leftContainer{
  width: 25%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  /* justify-content: space-between; */
  /* position: relative; */
  
}

@media (max-width: 320px) {
  .mainContainer{
    position: relative;
    overflow-x: hidden;
  }
  .leftContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .rightContainer {
    width: 100%;
    /* display: none;  */
    position: absolute;
    transform: translateX(100%);
  }
  .showRight .leftContainer {
    transform: translateX(-100%);
  }
  
  .showRight .rightContainer {
    transform: translateX(0);
  }

  .btnAdd{
    /* height: 40px; */
    /* width: 40px; */
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modalContent{
    width: 80%;
    max-width: 100px;
    /* height: 200px; */
    /* padding: 15px; */
    margin: 15px;
    border-radius: 8px;
    /* text-align: center; */
  }

  .modalContent h2{
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .modalContent input{
    width: 100px;
    margin: 10px;
    border-radius: 8px;
    height: 40px;
    padding: 20px;
    font-size: 1rem;
  }

  .colorChooser{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 5px;
    /* margin: 15px 0; */
  }

  .btnCreate {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    /* background-color: #001F8B; */
    /* color: white; */
    /* border: none; */
    cursor: pointer;
  }

  .colorOptions {
    justify-content: center; 
    flex-wrap: wrap; 
  }

  .colorButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin: 5px; */
    cursor: pointer;
  }

  .colorButton.selected {
    border-color: #000;
  }

  .btnCreate{
    height: 2em;
    width: 40px;
  }


} 


.rightContainer{
  background-color: #DAE5F5;
  height: 100%;
  width: 100vw;
  align-content: center;
  text-align: center;
}


.topContainer p{
  color: #292929;
}

.topContainer img{
  margin-top: 8em;
}

.topContainer{
  height: 95vh;
  /* padding-top: 3em; */
}

.bottomContainer{
  height: 5vh;
}

.notesListContainer{
  /* height: 100vh;
  overflow-y: auto;
  position: relative; */
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  /* padding-bottom: 80px; */
}

.notesList li div{
  margin-right: 30px;
}

/* .addNote{ */
  /* position: sticky;
  bottom: 2em;
  padding-left: 85%; */
  /* position: fixed;
  bottom: 2px;
  left: 260px;
  z-index: 100; */
/* } */

/* .addNote img{ */
  /* width: 65px; */
  /* width: 2px;
  height: 2px;
  position: sticky; */
  /* height: 65px; */
  /* cursor: pointer; */
  /* z-index: 10; */
/* } */

.btnAdd{
  height: 55px;
  width: 55px;
  position: sticky;
  /* padding-left: 280px; */
  left: 270px;
  bottom: 5px;
  /* padding-bottom: 0.5em; */
  cursor: pointer;
}

.leftContainer h1{
  position: sticky;
  top: 0;
  text-align: center;
  padding: 1.5em;
  margin: 0;
  /* background-color: white; */
  z-index: 2;
}

.text1{
  word-wrap: break-word;
}

.modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modalContent{
  font-family: "Roboto";
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  /* text-align: center; */
}

.modalContent h2{
  font-weight: 500;
}

.modalContent input{
  margin: 5px;
  border: solid 1px #CCCCCC;
  border-radius: 1em;
  width: 22vw;
  height: 5vh;
  padding: 2px;
}

.colorChooser{
  display: flex;
  /* justify-content: center; */
  /* margin: 10px; */
  padding-top: 1em;
}

/* .notesList{
  list-style: none;
  padding: 0;
  margin: 0;
} */

.notesList li{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
  padding: 10px;
  margin-bottom: 5px;
}

.notesList li:hover{
  background-color: #2F2F2F2B;
  cursor: pointer;
}


.btnCreate{
  background-color: #001F8B;
  color: white;
  width: 95px;
  border-radius: 1em;
  /* height: 30px; */
  padding: 5px;
  margin-left: 30em;
}

.nameLabel{
  font-weight: 500;
  font-size: large;
}

.colorLabel{
  font-weight: 500;
  font-size: large;
  margin-top: 9px;
}

.colorOptions{
  display: flex;
  flex-direction: row;
}

.noteProfile{
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.noteName{
  margin-top: 1em;
  font-weight: bold;
}
